<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c - %m%n" />
		</layout>
	</appender>

	<logger name="io.netty">
		<level value="ERROR" />
	</logger>

	<logger name="com.liou">
		<level value="INFO" />
	</logger>

	<logger name="org.apache">
		<level value="INFO" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="ConsoleAppender" />
		<!-- <appender-ref ref="RollingFileAppender" /> -->
	</root>

</log4j:configuration>